<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>CSP Selection</title>
    <meta charset="UTF-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

</head>
<body>
<div th:insert="header :: header">...</div>
    <div class="container" style="max-width: 700px;margin-top: 50px;">

        <div class="well">
            <form action="#" th:action="@{/appcspinput}"  method="post">
                <div class="form-group">
                    <label for="cspsId">Select Preferred CSPs</label>
                    <select class="form-control selectpicker" name="preferedCSPs" id="cspsId" multiple>
                        <option th:each="csp : ${CSPList}"
                                th:value="${csp.id}"
                                th:text="${csp.id}+' '+${csp.name}">csp
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="nocspsId">Select UnPreferred CSPs</label>
                    <select class="form-control selectpicker" name="unpreferedCSPs" id="nocspsId" multiple>
                        <option th:each="csp : ${CSPList}"
                                th:value="${csp.id}"
                                th:text="${csp.id}+' '+${csp.name}">csp
                        </option>
                    </select>
                </div>
                <p class="text-center">
                    <button type="button" class="btn btn-default" onclick="history.go(-1)">Back</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </p>
            </form>
        </div>

    </div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/i18n/defaults-*.min.js"></script>
</body>
</html>