<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<div th:fragment="footer">

    <div class="footer">
        <div class="footer-top defaults ">
            <div class="footer-container footer-container_top">
                <div class="column">
                    <div >
                        <a href="/">
                            <img class="footer-logo" th:src="@{/picture/footer-logo-en-us-1565010034402.png}"  src="static/picture/footer-logo-en-us-1565010034402.png" alt="#">
                        </a>
                    </div>
                </div>
                <div class="column">
                    <div class="footer-social">
                        <a href="https://mobile.twitter.com/Ericsson">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="https://www.linkedin.com/company/ericsson">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="https://m.facebook.com/ericsson/">
                            <i class="fa fa-facebook-f"></i>
                        </a>
                    </div>
                </div>
            </div>
<!--            <div class="footer-container">-->
<!--                <div class="column">-->
<!--                    <ul>-->
<!--                        <li><a href='https://www.ericsson.com/en/5g'>5G</a></li>-->
<!--                        <li><a href='https://www.ericsson.com/en/internet-of-things'>IoT</a></li>-->
<!--                        <li><a href="https://www.ericsson.com/en/ai-and-automation">AI and Automation</a></li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
        </div>

        <div class="footer-bottom ">
            <div class="footer-bottom-container jibe-container">
                <div class="copyright">
                    <a href="https://www.ericsson.com/en/modern-slavery-statement">Modern Slavery Statement</a>
                    <a title='Privacy' href='https://www.ericsson.com/en/legal/privacy'>Privacy</a>
                    <a title='Legal' href='https://www.ericsson.com/en/legal'>Legal</a>  <br>
                    © Telefonaktiebolaget LM Ericsson 1994-2020
                </div>
            </div>

        </div>

    </div>
</div>
</html>